body{
	font: 400 15px/1.5 "Ubuntu", "微軟正黑體", "Microsoft JhengHei", "LiHei Pro", sans-serif;
	color: #777;
	background: url(../images/bg.png);
}
a {
	color: #777;
	text-decoration: none;
	cursor: pointer;
}
h1 { font-size: 48px; }
h2 { font-size: 30px; font-weight: 500; }
h3 { font-size: 21px; color: #222; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 15px; }
.margin-bt-0 {
	margin-bottom: 0;
}
.margin-bt-sm {
	margin-bottom: 10px;
}
.margin-bt-md {
	margin-bottom: 15px;
}
.margin-bt-lg {
	margin-bottom: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center, .text-xs-center {
	text-align: center;
}
.color-primary, .color-primary a {
	color: #4c3933;
}
.bg-cover {
	background-size: cover;
	background-position: center center;
}
.bg-fixed {
	background-attachment: fixed;
}
.list-unstyled {
	list-style: none;
}
.double-spaced {
	line-height: 2;
}
.pc-wrap br {
	display: none;
}
.block, .main img, .work-list figure img, .work-wrapper figure img {
	display: block;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.animated {
	transition: all .3s ease;
}
@media (min-width: 768px) {
	h2 { font-size: 42px; }
	h3 { font-size: 24px; }
	.margin-bt-sm {
		margin-bottom: 15px;
	}
	.margin-bt-md {
		margin-bottom: 25px;
	}
	.margin-bt-lg {
		margin-bottom: 40px;
	}
	.pc-center {
		text-align: center;
	}
	.pc-left {
		float: left;
	}
	.pc-right {
		float: right;
	}
}
@media (min-width: 1024px) {
	.pc-wrap br {
		display: block;
	}
}

/* Layout
========================= */
.wrapper {
	padding: 80px 20px 0;
}
.wrapper .container {
	margin-bottom: 80px;
}
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}
.footer {
	position: relative;
	line-height: 50px;
	color: #eee;
	font-size: 14px;
	background-image: url(../images/bg_index.jpg);
}
.page-top {
	display: block;
	width: 100%;
	height: 50px;
	color: #fff;
	font-weight: 500;
	background-color: #222;
}
.page-top:hover {
	background-color: #333;
}
@media (min-width: 768px) {
	.footer {
		height: 60px;
		line-height: 60px;
	}
	.page-top {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 80px;
		height: 60px;
		font-size: 16px;
	}
}
@media (min-width: 1340px) {
	.wrapper {
		padding: 120px 0 0;
	}
	.wrapper .container {
		margin-bottom: 120px;
	}
}

/* Index
========================= */
.main {
	position: relative;
	background-image: url(../images/bg_index.jpg);
}
.main section {
	padding: 120px 20px;
	line-height: 1.3;
	color: #fff;
	text-align: center;
	font-size: 30px;
}
.main h1 {
	margin: 0 auto 40px;
	width: 80px;
}
.main br {
	display: none;
}
@media (min-width: 480px) {
	.main br {
		display: block;
	}
}
@media (min-width: 768px) {
	.main section {
		padding: 160px 0;
		font-size: 40px;
	}
}
@media (min-width: 1024px) {
	.main {
		background-attachment: fixed;
	}
	.main section {
		font-size: 48px;
	}
	.main h1 {
		margin: 0 auto 60px;
		width: 120px;
	}
}

/* Work */
.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.work-list > li {
	position: relative;
	margin-bottom: 30px;
}
.work-list section {
	padding: 25px 20px 20px;
	background-color: #fff;
}
.work-list section h3, .secondary h3, .secondary h4 {
	line-height: 1.2;
	font-weight: bold;
}
.work-list section h3 {
	margin-bottom: 5px;
}
.work-list section li {
	position: relative;
	margin-bottom: 3px;
	padding-left: 25px;
}
.work-list section li:before, .work-list a i {
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
}
.work-list section li:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 2px;
}
.work-list section li:first-child:before {
	background-image: url(../images/icon_mark.png);
}
.work-list section li:nth-child(2):before {
	background-image: url(../images/icon_pen.png);
}
.work-list div {
	margin-top: 15px;
}
.work-list a {
	display: block;
	width: 47%;
	height: 40px;
	line-height: 40px;
	color: #222;
	text-align: center;
	font-weight: bold;
	border: 1px solid #666;
}
.work-list a.center {
	margin: 0 auto;
	width: 100%;
}
.work-list a:hover {
	color: #fff;
	background-color: #333;
}
.work-list a i {
	display: inline-block;
	margin: -3px 6px 0 0;
	vertical-align: middle;
	-webkit-filter: brightness(0%);
    filter: brightness(0%);
}
.work-list a:hover i {
	-webkit-filter: brightness(100%);
    filter: brightness(100%);
}
.icon-detail {
	background-image: url(../images/icon_detail.png);
}
.icon-launch {
	background-image: url(../images/icon_launch.png);
}
@media (min-width: 640px) {
	.work-list > li {
		width: 48%;
	}
}
@media (min-width: 1024px) {
	.work-list > li {
		width: 31%;
		margin-bottom: 40px;
	}
	.work-list figure {
		transition: all .5s ease;
	}
	.work-list > li:hover figure {
		-webkit-filter: brightness(50%);
		filter: brightness(50%);
	}
	.work-list div {
		position: absolute;
		top: 33%;
		left: 50%;
		margin: 0 0 0 -125px;
		width: 250px;
		opacity: 0;
		transition: all .5s ease;
	}
	.work-list > li:hover div {
		top: 30%;
		opacity: 1;
	}
	.work-list a {
		width: 120px;
		color: #fff;
		background-color: rgba(0,0,0,.3);
		border: 1px solid #fff;
	}
	.work-list a.center {
		width: 50%;
	}
	.work-list a:hover {
		color: #333;
		background-color: rgba(255,255,255,.9);
	}
	.work-list a i {
		display: inline-block;
		margin: -3px 6px 0 0;
		width: 15px;
		height: 15px;
		vertical-align: middle;
		background-size: 15px 15px;
		-webkit-filter: brightness(100%);
        filter: brightness(100%);
	}
	.work-list a:hover i {
		-webkit-filter: brightness(0%);
		filter: brightness(0%);
	}
}
@media (min-width: 1340px) {
	.work-list div {
		margin-left: -150px;
		width: 300px;
	}
	.work-list a {
		width: 140px;
	}
}

/* Skill */
.c100 .bar {
	position: absolute;
	border: 0.06em solid #4c3933;
	width: 0.88em;
	height: 0.88em;
	clip: rect(0em, 0.5em, 1em, 0em);
	border-radius: 50%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.c100 {
	position: relative;
	margin: 0 auto 20px;
	width: 1em;
	height: 1em;
	font-size: 200px;
	vertical-align: top;
	border-radius: 50%;
	background-color: #cccccc;
}
.c100 *,
.c100 *:before,
.c100 *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.c100 .text {
	display: flex;
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	width: 8em;
	height: 8em;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	font-size: 0.125em;
	font-weight: 500;
	color: #4c3933;
}
.c100 .text span {
	width: 100%;
	font-size: 0.6em;
	font-weight: normal;
}
.c100:after {
	position: absolute;
	top: 0.06em;
	left: 0.06em;
	display: block;
	content: " ";
	border-radius: 50%;
	background: url(../images/bg.png);
	width: 0.88em;
	height: 0.88em;
}
.c100 .slice {
	position: absolute;
	width: 1em;
	height: 1em;
	clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p75 .slice,
.c100.p60 .slice {
    clip: rect(auto, auto, auto, auto);
}
.c100.p75 .fill,
.c100.p60 .fill {
	position: absolute;
	border: 0.06em solid #4c3933;
	width: 0.88em;
	height: 0.88em;
	clip: rect(0em, 0.5em, 1em, 0em);
	border-radius: 50%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.c100.p75 .bar:after, .c100.p75 .fill,
.c100.p60 .bar:after, .c100.p60 .fill {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.c100.p50 .bar {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.c100.p75 .bar {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.c100.p60 .bar {
	-webkit-transform: rotate(216deg);
	-moz-transform: rotate(216deg);
	-ms-transform: rotate(216deg);
	-o-transform: rotate(216deg);
	transform: rotate(216deg);
}
@media (min-width: 768px) {
	.c100 {
		display: inline-block;
		margin: 0 20px;
	}
}

/* About */
.client-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.client-list > li {
	width: 33%;
}
.contact {
	display: table;
	margin: 0 auto;
	width: 120px;
}
.contact a {
	display: table-cell;
	height: 120px;
	line-height: 1;
	color: #fff;
	font-size: 24px;
	vertical-align: middle;
	text-align: center;
	background-color: #4c3933;
	border-radius: 50%;
	transition: all .3s ease;
}
.contact a:hover {
	color: #fff;
	background-color: #444;
}
@media (min-width: 768px) {
	.contact {
		width: 180px;
	}
	.contact a {
		height: 180px;
		font-size: 38px;
	}
}
@media (min-width: 1024px) {
	.client-list {
		width: 80%;
	}
	.client-list > li {
		width: 25%;
	}
}

/* Work
========================= */
.work-wrapper {
	padding: 80px 20px 20px;
}
.secondary {
	padding: 0 0 20px 20px;
}
.secondary li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 45px;
	line-height: 1.3;
}
.secondary li:before {
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 1px;
	color: #aaa;
	font-size: 14px;
	letter-spacing: 3px;
}
.secondary li a:hover {
	color: #4c3933;
	text-decoration: underline;
}
.page-nav .left, .page-nav .right {
	position: fixed;
	top: 50%;
	margin-top: -20px;
	width: 40px;	
}
.page-nav .left {
	left: 0;
}
.page-nav .right {
	right: 0;
}
.page-nav a {
	display: block;
	height: 40px;
	background: url(../images/arrow.png) no-repeat #4c3933;
	background-size: 200%;
}
.page-nav .right a {
	background-position: 100% 0;
}
.page-nav a:hover, .close:hover {
	background-color: #444;
}
.close {
	position: fixed;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(../images/icon_close.png) no-repeat center center #4c3933;
	background-size: 40%;
}
@media (min-width: 768px) {
	.work-wrapper {
		padding: 80px 20px 40px;
	}
	.work-wrapper .container {
		padding-left: 330px;
	}
	.secondary, .page-nav {
		position: fixed;
		left: 20px;
		width: 300px;
	}
	.secondary {
		top: 80px;
		padding: 0;
	}
	.page-nav {
		top: auto;
		bottom: 40px;
	}
	.page-nav .left, .page-nav .right {
		position: static;
		margin-top: 0;
		width: 48%;	
	}
	.page-nav a {
		color: #e7e7e7;
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		background-image: none;
		transition: all .3s ease;
	}
	.page-nav .left a:before {
		content: "PREV";
	}
	.page-nav .right a:before {
		content: "NEXT";
	}
	.page-nav .left a:hover {
		padding-right: 5px;
	}
	.page-nav .right a:hover {
		padding-left: 5px;
	}
	.close {
		right: 20px;
		width: 60px;
		height: 60px;
		background-size: 30%;
		transition: background-color .3s ease,  background-size .1s ease;
	}
	.close:hover {
		background-size: 40%;
	}
}
@media (min-width: 1340px) {
	.work-wrapper {
		padding: 80px 0 40px;
	}
	.secondary, .page-nav {
		left: 50%;
		margin-left: -640px;
	}
	.close {
		right: 50%;
		margin-right: -640px;
	}
}